html, body{
    background-image: linear-gradient(to top right,indianred , white);
    height: 100%;
    background-attachment: fixed;
    text-align: center;
    margin: 0%;
    padding: 0%;
    /* overflow: hidden; */
    font-size: 3vh;
}

.maayan{
    border: 1px solid black;
    height: 100%;
    box-sizing: border-box;
}

.maayan > *{
    border: 1px solid;
}

.maayan{
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

header{
    grid-row: span 2;
    grid-column: span 6;
}

header > h1{
    margin-top: 3%;
}

nav{
    grid-row: span 7;
    grid-column: span 1;

}

nav > div{
    margin-top: 20%;
    font-weight: bold;
}

.maayan a{
    color: blue;
}

main{
    grid-row: span 7;
    grid-column: span 5;
}

main > p{
    text-align: left;
    margin-left: 3%;
}

main > div > img{
    width: 17%;
    height: 150px;
    border: 2px solid red;
    margin-right: 20px;
    margin-top: 10px;
}

footer{
    grid-row: span 1;
    grid-column: span 6;
}

footer > div{
    margin-top: 1.5%;
}

.oiu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    margin-left: 24%;
    margin-top: 8%;
}
.oiu > span{
    grid-column: span 1;
}

.oiu > div{
    grid-column: span 3;
}

.oiu > div,span{
    border: 1px solid black;
    padding: 5%;
}

input, textarea{
    width: 95%;
}

